.navbar{
    padding: 20px;
    background-color: bisque;
}

.search{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.list{
    /* display: flex; */
    justify-content: center;
}